*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: background 0.5s;
    color: #333;
}

.container {
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

/* clearfix */
.container::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    padding: 20px;
}

[class*='col__'] {
    float: left;
    padding-right: 20px;
}

[class*='col__']:last-of-type {
    padding-right: 0;
}

.col__md--3 {
    width: 25%;
}

.col__md--9 {
    width: 75%;
}

.nav {
    /* counter act offset of row padding */
    height: calc(100vh - 40px);
    padding: 5px;
}

.card__header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: background 0.5s;
    min-height: 140px;
}

.card__header__name {
    font-size: 2.4vw;
    margin-bottom: 5px;
    /* color: #89867e; */
    color: #ffffff;
    letter-spacing: 1.3px;
}

.card__header__desc {
    position: relative;
    top: 5px;
    left: 2px;
    font-size: 1.2vw;
    color: #BDC3C7;
    opacity: 0.8;
}
 
.main {
    /* counter act offset of row padding */
    height: calc(100vh - 40px);
    overflow: scroll;
    /* needed for displaying box-shadow */
    padding: 5px;
}

.card {
    position: relative;
    width: 100%;
    height: calc(100vh - 40px);
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    transition: border 1s;
    overflow: hidden;
}

.card:last-of-type {
    margin-bottom: 0;
    overflow: visible;
}

.card--fluid {
   height: auto;
   min-height: 400px; 
}

.card--fluid:last-of-type::after {
    content: "";
    display: block;
    width: 100%;
    height: calc(100vh - 40px);
    position: absolute;
    top: 0;
    left: 0;
}

.card__list {
    list-style: none;
    margin: 0;
    font-size: 1.2vw;
}

.card__list--right {
    position: absolute;
    right: 20px;
    text-align: right;
}

.card__list--top-offset {
    top: 25%;
}

.card__list > li {
    margin-bottom: 15px;
}

.card__list > li:last-of-type {
    margin-bottom: 0;
}

.card__footer {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.card__ribbon-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    height: 180px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

.card__ribbon {
    position: absolute;
    top: -90px;
    right: -90px;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}

.card__ribbon__title {
    position: absolute;
    text-align: center;
    top: 75%;
    left: 2px;
    right: 0;
    color: #fff;
    letter-spacing: 1.2px;
    font-size: 1.8vw;
}

.nav__link {
    text-decoration: none;
    color: #333;
}

.nav__link--hover:hover {
    text-decoration: underline;
}
 
.nav__icon {
   vertical-align: middle;
   margin-left: 5px;
   transition: opacity .5s;
   opacity: 0;
}

/* .colors {
    color: rgb(196, 7, 19);
    color: rgb(148, 212, 56);
    color: rgb(15, 86, 240);
    color: rgb(251, 207, 87);
    color: rgb(128, 18, 146);
    color: rgb(253, 161, 64);
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}