*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    font-size: 14px;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
    color: #333;
    background: #fff;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

.container {
    width: 100%;
    height: 100vh;
    /* max-width: 1200px; */
    margin: 0 auto;
}

/* clearfix */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* 
    GRID
*/

/* .row {
    padding: 20px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
} */


[class*='col__'] {
    width: 100%;
}

/* 
    MAIN SECTIONS
*/

.nav {
    height: auto;
    /* padding: 5px; */
}
 
.main {
    /* counter act offset of row padding */
    height: calc(100vh); /* - 40px */
    /* overflow: auto; */
    /* needed for displaying box-shadow */
    /* padding: 5px; */
}

/* 
    CARDS
*/

.card {
    position: relative;
    width: 100%;
    height: calc(100vh); /* - 40px */
    /* border-radius: 5px; */
    /* margin-bottom: 40px; */
    background: #ffffff;
    /* box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1); */
    overflow: hidden;
}

.card:last-of-type {
    margin-bottom: 0;
    overflow: visible;
}

.card--padding {
    padding: 10px;
}

.card--fluid {
   height: auto;
   min-height: 50vh; 
}

.card--fluid:last-of-type::after {
    content: "";
    display: block;
    width: 100%;
    height: calc(100vh); /* - 40px */
    position: absolute;
    top: 0;
    left: 0;
}

.card__ribbon-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 8rem;
    height: 8rem;
    /* border-top-right-radius: 5px; */
    overflow: hidden;
}

.card__ribbon {
    position: absolute;
    top: -4rem;
    right: -4rem;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
            box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
}

.card__ribbon__title {
    position: absolute;
    text-align: center;
    top: 75%;
    left: 2px;
    right: 0;
    color: #fff;
    letter-spacing: 1.2px;
    font-size: 1rem;
}

.card__content {
    padding: 20px;
    z-index: 500;
    position: relative;
}

.card__link {
    color: #333;
    transition: color 0.2s;
}

.card__link:hover {
    text-decoration: underline;
    color: rgb(255, 123, 0);
}

.card__header {
    margin-top: 0;
    font-size: 1.4rem; 
}

.card__desc {
    font-size: 0.9rem;
    line-height: 2;
}

.card__desc__section {
    margin-bottom: 20px;
}

.card__desc__section:last-of-type {
    margin-bottom: 0;
}

.card__desc__list {
    margin: 0;
}

.card__img__container {
    width: 90%;
    margin: 0 auto;
}

.card__img {
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card__button-container {
    text-align: center;
    margin: 40px 0;
}

.card__button {
    font-size: 0.9rem;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 20px;
    padding: 0.8rem;
    background: rgba(201, 201, 201, 0.1);
    transition: color 0.2s;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.card__button:last-of-type {
    margin-right: 0;
}

.card__button:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(255, 123, 0);
}

.card__button:active {
    position: relative;
    top: 1px;
}

/* 
    NAV
*/

.nav__header {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
}

.nav__header--padding {
    padding: 20px;
}

.nav__header__name {
    font-size: 8vw;
    font-weight: bolder;
    margin-bottom: 5px;
    color: #fff;
    letter-spacing: 1.3px;
}

.nav__header__desc {
    position: relative;
    top: 5px;
    left: 2px;
    font-size: 4vw;
    color: rgb(223, 230, 235);
    margin-bottom: 10px;
}

.nav__link {
    text-decoration: none;
    color: #333;
}

.nav__link:hover {
    text-decoration: underline;
    color: rgb(255, 123, 0);
}

.nav__link--disable-hover:hover {
    text-decoration: none;
    color: #333;
}

.nav__list {
    display: none;
}

.nav__footer {
    position: absolute;
    text-align: right;
    bottom: 20px;
    right: 20px; 
}


.nav__footer__icon {
    opacity: 0.7;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
    font-size: 1.8rem;
    margin: 0 5px;
}

.nav__footer__icon:hover {
    opacity: 1;
}

.robos-background {   
    background-image: url("/assets/robos.svg");
    background-size: 105%;
    background-repeat: repeat; 
    background-position: center 0;
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    html {
        font-size: 16px;
    }

    .card__button-container {
        text-align: right;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    html {
        font-size: 18px;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    html {
        font-size: 20px;
    }

    [class*='col__'] {
        float: left;
        /* padding-right: 20px; */
    }

    /* [class*='col__']:last-of-type {
        padding-right: 0;
    } */


    .nav {
        /* counter act offset of row padding */
        height: calc(100vh); /* - 40px */
    }

    .main {
        /* counter act offset of row padding */
        height: calc(100vh); /* - 40px */
        overflow: auto;
        /* needed for displaying box-shadow */
        /* padding: 5px; */
    }

    .col__md--3 {
        width: 25%;
    }

    .col__md--9 {
        width: 75%;
    }

    /* 
        CARD
    */

    .card--padding {
        padding: 20px;
    }

    /* .card__ribbon-container {
        width: 16vw;
        height: 16vw;
    }

    .card__ribbon {
        top: -8vw;
        right: -8vw;
    } */

    /* 
        NAV
    */

    .nav__header {
        width: 100%;
        /* border-top-left-radius: 5px;
        border-top-right-radius: 5px; */
        -webkit-transition: background 0.5s;
        -o-transition: background 0.5s;
        transition: background 0.5s;
        position: static;
    }

    .nav__header__name {
        font-size: 2.4vw;
        font-weight: 400;
    }

    .nav__header__desc {
        font-size: 1.2vw;
    }
    
    .nav__list {
        display: block;
        list-style: none;
        margin: 0;
        padding: 20px;
        font-size: 0.8rem;
    }

    .nav__list--right {
        text-align: right;
    }

    .nav__list > li {
        margin-bottom: 15px;
    }

    .nav__list > li:last-of-type {
        margin-bottom: 0;
    }

    .nav__list__icon {
        position: relative;
        top: -1px;
        vertical-align: middle;
        margin-left: 5px;
        -webkit-transition: opacity .5s;
        -o-transition: opacity .5s;
        transition: opacity .5s;
        opacity: 0;
    }

    .nav__footer__icon {
        font-size: 1.33333333em;
        margin: 0;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 22px;
  }
}


@media screen and (min-width: 1400px){
  html {
    font-size: 24px;
  }
}

@media screen and (min-width: 1500px){
  html {
    font-size: 26px;
  }
}

@media screen and (min-width: 1600px){
  html {
    font-size: 28px;
  }
}

@media screen and (min-width: 1700px){
  html {
    font-size: 30px;
  }
}

@media screen and (min-width: 1800px){
  html {
    font-size: 32px;
  }
}