*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: background 1s;
}

.container {
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

/* clearfix */
.container::after {
    content: "";
    clear: both;
    display: table;
}

.row {
    padding: 20px;
}

[class*='col__'] {
    float: left;
    padding-right: 20px;
}

[class*='col__']:last-of-type {
    padding-right: 0;
}

.col__md--3 {
    width: 25%;
}

.col__md--9 {
    width: 75%;
}

.nav {
    /* counter act offset of row padding */
    height: calc(100vh - 40px);
    padding: 5px;
}

.nav .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: red;
    padding: 20px;
}

.nav .header .header__name {
    font-size: 2.5vw;
    margin-bottom: 5px;
    /* color: #89867e; */
    color: #ffffff;
    letter-spacing: 1.3px;
}

.nav .header .header__desc {
    position: relative;
    top: 2px;
    left: 2px;
    font-size: 1.2vw;
    color: #89867e;
    opacity: 0.5;
}
 
.main {
    /* counter act offset of row padding */
    height: calc(100vh - 40px);
    overflow: scroll;
    /* needed for displaying box-shadow */
    padding: 5px;
}

.card {
    position: relative;
    width: 100%;
    height: calc(100vh - 40px);
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    transition: border 1s;
}

.card:last-of-type {
    margin-bottom: 0;
}

/* .colors {
    color: rgb(196, 7, 19);
    color: rgb(148, 212, 56);
    color: rgb(15, 86, 240);
    color: rgb(251, 207, 87);
    color: rgb(128, 18, 146);
    color: rgb(253, 161, 64);
} */